Extension-Name: jpen_${VERSION}
Specification-Vendor: jpen_${VERSION}
Specification-Version: ${VERSION}
Implementation-Vendor-Id: jpen_${VERSION}
Implementation-Vendor: jpen_${VERSION}
Implementation-Version: ${VERSION}
